USE [TaskManagementSystem]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[RecipientID] [int] NOT NULL,
	[TaskID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecruitmentRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[Requirements] [text] NOT NULL,
	[AuthorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialists](
	[SpecialistID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Specialization] [nvarchar](50) NOT NULL,
	[ContactInfo] [nvarchar](200) NULL,
	[Rating] [decimal](2, 1) NULL,
	[HasContract] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecialistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatorID] [int] NOT NULL,
	[ExecutorID] [int] NULL,
	[TemplateID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTemplates](
	[TemplateID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateName] [nvarchar](200) NOT NULL,
	[StandardDescription] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [Message], [RecipientID], [TaskID]) VALUES (1, N'Новое задание #1 требует назначения специалиста', 1, 1)
INSERT [dbo].[Notifications] ([NotificationID], [Message], [RecipientID], [TaskID]) VALUES (2, N'Задание #2 переведено в статус "В работе"', 2, 2)
INSERT [dbo].[Notifications] ([NotificationID], [Message], [RecipientID], [TaskID]) VALUES (3, N'Поступила новая заявка на подбор сантехника', 3, NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[RecruitmentRequests] ON 

INSERT [dbo].[RecruitmentRequests] ([RequestID], [Requirements], [AuthorID]) VALUES (1, N'Требуется сантехник с опытом работы от 3 лет для постоянной работы в Центральном офисе', 1)
INSERT [dbo].[RecruitmentRequests] ([RequestID], [Requirements], [AuthorID]) VALUES (2, N'Ищем электрика с допуском до 1000В для работы в Северном регионе', 1)
INSERT [dbo].[RecruitmentRequests] ([RequestID], [Requirements], [AuthorID]) VALUES (3, N'Нужен мастер HVAC для обслуживания кондиционеров в летний сезон', 3)
SET IDENTITY_INSERT [dbo].[RecruitmentRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialists] ON 

INSERT [dbo].[Specialists] ([SpecialistID], [FullName], [Specialization], [ContactInfo], [Rating], [HasContract]) VALUES (1, N'Алексеев Алексей Алексеевич', N'Электрик', N'+7 999 111-22-33', CAST(4.5 AS Decimal(2, 1)), 1)
INSERT [dbo].[Specialists] ([SpecialistID], [FullName], [Specialization], [ContactInfo], [Rating], [HasContract]) VALUES (2, N'Смирнов Дмитрий Николаевич', N'Сантехник', N'+7 999 444-55-66', CAST(4.0 AS Decimal(2, 1)), 1)
INSERT [dbo].[Specialists] ([SpecialistID], [FullName], [Specialization], [ContactInfo], [Rating], [HasContract]) VALUES (3, N'Кузнецова Елена Владимировна', N'Мастер HVAC', N'+7 999 777-88-99', CAST(4.8 AS Decimal(2, 1)), 0)
SET IDENTITY_INSERT [dbo].[Specialists] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([TaskID], [Title], [Status], [CreatedDate], [CreatorID], [ExecutorID], [TemplateID]) VALUES (1, N'Ремонт холодильника в магазине "Центральный"', N'Новый', CAST(N'2026-03-14T18:37:26.570' AS DateTime), 1, NULL, 1)
INSERT [dbo].[Tasks] ([TaskID], [Title], [Status], [CreatedDate], [CreatorID], [ExecutorID], [TemplateID]) VALUES (2, N'Чистка кондиционеров в офисе', N'В работе', CAST(N'2026-03-14T18:37:26.570' AS DateTime), 2, 3, 2)
INSERT [dbo].[Tasks] ([TaskID], [Title], [Status], [CreatedDate], [CreatorID], [ExecutorID], [TemplateID]) VALUES (3, N'Замена проводки в складском помещении', N'Выполнен', CAST(N'2026-03-14T18:37:26.570' AS DateTime), 1, 1, 3)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskTemplates] ON 

INSERT [dbo].[TaskTemplates] ([TemplateID], [TemplateName], [StandardDescription]) VALUES (1, N'Ремонт холодильника', N'Стандартный ремонт холодильного оборудования: проверка компрессора, замена фреона, диагностика')
INSERT [dbo].[TaskTemplates] ([TemplateID], [TemplateName], [StandardDescription]) VALUES (2, N'Чистка кондиционера', N'Обслуживание сплит-систем: чистка фильтров, проверка уровня фреона, тестирование')
INSERT [dbo].[TaskTemplates] ([TemplateID], [TemplateName], [StandardDescription]) VALUES (3, N'Замена проводки', N'Полная замена электропроводки в помещении: штробление стен, прокладка кабеля, установка розеток')
SET IDENTITY_INSERT [dbo].[TaskTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Login], [Password], [Role]) VALUES (1, N'Иванов Иван Иванович', N'ivanov.ii', N'password123', N'Управляющий офисом')
INSERT [dbo].[Users] ([UserID], [FullName], [Login], [Password], [Role]) VALUES (2, N'Петров Петр Петрович', N'petrov.pp', N'qwerty456', N'Управляющий магазином')
INSERT [dbo].[Users] ([UserID], [FullName], [Login], [Password], [Role]) VALUES (3, N'Сидорова Мария Сергеевна', N'sidorova.ms', N'hr789', N'Специалист HR')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO

ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Specialists] ADD  DEFAULT ((0)) FOR [HasContract]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Recipient] FOREIGN KEY([RecipientID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Recipient]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Task] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([TaskID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Task]
GO
ALTER TABLE [dbo].[RecruitmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_RecruitmentRequests_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RecruitmentRequests] CHECK CONSTRAINT [FK_RecruitmentRequests_Author]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Creator] FOREIGN KEY([CreatorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Creator]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Executor] FOREIGN KEY([ExecutorID])
REFERENCES [dbo].[Specialists] ([SpecialistID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Executor]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Template] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[TaskTemplates] ([TemplateID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Template]
GO
ALTER TABLE [dbo].[Specialists]  WITH CHECK ADD CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD CHECK  (([Status]='Закрыт' OR [Status]='Отменён' OR [Status]='Выполнен' OR [Status]='В работе' OR [Status]='Новый'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Специалист HR' OR [Role]='Управляющий магазином' OR [Role]='Управляющий офисом'))
GO
